*{
    margin: 0;
    padding: 0;
}
body{
    background-color:aquamarine;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width:18vmin;
    border-radius:10px;
    border: none;
    box-shadow: 0 0 1rem(0,0,0,0.1);
    font-size: 8vmin;
    color:white;
    background-color: blueviolet;
}
#reset-btn{
    padding: 1rem;
    font-size: 20px;
    background-color:yellow;
    border-radius: 10px;
    border: none;
}
.hide{
    display: none;
}
#new_btn{
    padding: 1rem;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    border: none;
}
#msg{
    font-size: 25px;
}
.msg-Container{
    height: 30vmin;
}